useDynLib(Rcpp)

export(RcppExample,
       print.RcppExample,
       RcppDateExample,
       RcppParamsExample,
       RcppVectorExample,
       cfunction 		## from inline and adapted
)

exportMethods(
       setCMethod
)
